.wrapper {
  --slide-height: 288px;
  --swiper-height: 340px;
  position: relative;
}

@media (min-width: 1024px) {
  .wrapper {
    --slide-height: 540px;
    --swiper-height: 600px;
  }
}


.slide {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: center;
  height: var(--slide-height);
}

.swiper {
  height: var(--swiper-height);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  bottom: -0px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #526e07;
  border: 1px solid transparent;
}

.button-wrapper {
  position: absolute;
  bottom: -4px;
}

.arrow {
  --arrow-size: 16px;
  --arrow-color: #526e07;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: var(--arrow-size);
  height: var(--arrow-size);
  overflow: hidden;
  cursor: pointer;
}

.arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: calc(var(--arrow-size) * 0.7071);
  height: calc(var(--arrow-size) * 0.7071);
  border-top: calc(var(--arrow-size) / 12) solid var(--arrow-color);
}

.arrow.left::after {
  left: calc(var(--arrow-size) / 5);
  border-left: calc(var(--arrow-size) / 12) solid var(--arrow-color);
  transform-origin: top left;
  rotate: -45deg;
}

.arrow.right::after {
  right: calc(var(--arrow-size) / 5);
  border-right: calc(var(--arrow-size) / 12) solid var(--arrow-color);
  transform-origin: top right;
  rotate: 45deg;
}

.arrow.left {
  margin: 0 56px;
  z-index: 50;
}

.arrow.right {
  margin: 0 56px;
  z-index: 50;
}

.swiper-slide .slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
