.arrow {
  --arrow-size: 2em;
  --arrow-color: #526e07;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: var(--arrow-size);
  height: var(--arrow-size);
  overflow: hidden;
  cursor: pointer;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: calc( var(--arrow-size) * .7071);
  height: calc( var(--arrow-size) * .7071);
  border-top: calc( var(--arrow-size) / 10 ) solid var(--arrow-color);
}

.arrow.left::after {
  left: calc( var(--arrow-size) / 5 );
  border-left: calc( var(--arrow-size) / 10 ) solid var(--arrow-color);
  transform-origin: top left;
  rotate: -45deg;
}

.arrow.right::after {
  right: calc( var(--arrow-size) / 5 );
  border-right: calc( var(--arrow-size) / 10) solid var(--arrow-color);
  transform-origin: top right;
  rotate: 45deg;
}